@model University.Models.Professor

<div class="container">
  <h2>Edit</h2>

  <h4>Edit this Professor: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm("edit", "professors", new { @id = @Model.ProfessorId }, FormMethod.Post))
  {
    @Html.HiddenFor(model => model.ProfessorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <div class="form-group">
      @Html.Label("Are you vaccinated?")
      @Html.RadioButtonFor(model => model.VaccinationStatus, "True", new { @id="vaccine_yes" })
      @Html.LabelFor(model => model.VaccinationStatus, "Yes")
      @Html.RadioButtonFor(model => model.VaccinationStatus, "False", new { @id="vaccine_no" })
      @Html.LabelFor(model => model.VaccinationStatus, "No")
    </div>

    @Html.Label("Courses")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Save" class="btn btn-primary" />
  }

  <p>@Html.ActionLink("Home", "Index")</p>
</div>
