@model University.Models.Student

<div class="container">
  <h2>Edit</h2>

  <h4>Edit this Student: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm("edit", "student", new { @id = @Model.StudentId }, FormMethod.Post))
  {
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.EnrollmentDate)

    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Gender)
      @Html.TextBoxFor(model => model.Gender, "text", new { @required = "required" })
    </div>

    <div class="form-group">
      @Html.Label("Are you vaccinated?")
      @Html.RadioButtonFor(model => model.VaccinationStatus, "True", new { @id="vaccine_yes" })
      @Html.LabelFor(model => model.VaccinationStatus, "Yes")
      @Html.RadioButtonFor(model => model.VaccinationStatus, "False", new { @id="vaccine_no" })
      @Html.LabelFor(model => model.VaccinationStatus, "No")
    </div>

    <div class="form-group">
      @Html.Label("Courses")
      @Html.DropDownList("CourseId")
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
  }

  <p>@Html.ActionLink("Home", "Index")</p>
</div>