@model University.Models.Course

<div class="container"></div>
  <h1 class="text-center pb-2"> Course Details</h1>
  <h2>Name: @Html.DisplayFor(model => model.CourseName) </h2>
  <h3 class="pb-3">Description: @Html.DisplayFor(model => model.CourseDescription)
  <hr />

  @Html.ActionLink("Remove Course", "Delete", "Courses", new { id = Model.CourseId }, new { @class = "btn btn-warning" })
  @Html.ActionLink("Edit Course", "Edit", "Courses", new { id = Model.CourseId }, new { @class = "btn btn-primary" })

  @if(@Model.JoinEntities.Count == 0)
  {
    <p> No students have signed up for this course</p>
  }
  else
  {
    <h3>Students In This Course</h3>
    <ul class="pb-3">
      @foreach(var join in Model.JoinEntities)
      {
        <li class="border m-2 row justify-content-start align-items-center">
          <div class="col-sm-2 pl-0">
            <form id="delete_@join.CourseStudentId" class="deleteStudent">
              @Html.Hidden("joinId", @join.CourseStudentId)
              <input type="submit" value="Remove" class="btn btn-danger" />
            </form>
          </div>
          <div class="col-sm-10">@join.Student.Name</div>
        </li>
      }
    </ul>
  }
</div>
